// Place all the styles related to the episodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$topwidth: 800px;
$maincolor: #6f6;
$mainfont: helvetica;

.create_poll {
	text-align: left;
}

.logout {
	text-align: right;
}

.main {
	background-color: #ecf0f1;
	width: $topwidth / 960px * 100%;
	height: 1000px;
	margin: 0 auto;
	h1 {
		text-align: center;
		font-family: $mainfont;
		padding-top: 20px;
	}
}

.welcome_msg {
	text-align: center;
	font-size: 14px;
	color: green;
}

.box {
	padding: 5px;
}

.poll {
	border: 3px solid black;
	width: 320px;
	margin: 10px;
	display: inline-block;
}
